{
  "openapi": "3.1.0",
  "info": {
    "title": "Pinuyumayan Backend Database API v41",
    "version": "v43",
    "description": "Public-safe and internal sync API for the 卑南族文化綜合平台主站. Public endpoints return approved/verified knowledge only; internal endpoints require x-pinuyumayan-main-site-key. v10 adds readiness, job queue operations, and a stable error response contract. v11 adds API versioning, export bundle artifacts, scoped internal APIs, and sync replay. v12 adds release channels, multi-site scoped delivery, governance dashboard and search export readiness. v13 adds admin login bootstrap, main-site superadmin sync, and content collection delivery endpoints. v14 adds search suggestions/facets, cache invalidation, quality gate run hooks, admin security sessions and MFA scaffold. v15 adds delivery SLOs, contract-test runs, full corpus reconciliation, payload snapshots, search index versions and scoped admin permission grants. v18 adds source-grounded AI article planning, duplicate prevention, and human-review publication governance. v20 adds true source collection, no-duplicate frontend AI article memory, source packet delivery, and a built-in next-upgrade roadmap. v22 adds frontend AI provider adapters, client draft validation, citation/duplicate cooldown checks, HMAC nonce policy, candidate source adapters and admin review dashboard. v25 adds deployable main-site migration manifest, article review action API, HMAC verification endpoint, SEO publish checks, full corpus acceptance reporting, and v26 roadmap. v34 expands true-knowledge source search, adds candidate harvest worker contracts, public cards/search documents/source packets, and keeps Beinan/Peinan archaeology terms as forbidden negative-disambiguation only. v36 expands song/chant metadata catalog, YouTube metadata worker contract, rights-safe music source packets, and song review queues. v38 deepens folk song/old tune metadata catalog, variant index, rights-safe source packets and review queues. v41 adds TTS/STT training governance, metadata-only YouTube worker, music review UI, authoritative source adapters, music FULLTEXT builder, AI music guardrails and VPS DB transaction contracts."
  },
  "servers": [
    {
      "url": "https://kb-api.pinuyumayan.tw"
    },
    {
      "url": "http://localhost:8787"
    }
  ],
  "tags": [
    {
      "name": "health"
    },
    {
      "name": "publicKnowledge"
    },
    {
      "name": "internalSync"
    },
    {
      "name": "operations"
    },
    {
      "name": "Release Channels",
      "description": "Release channel and public delivery metadata."
    },
    {
      "name": "Governance",
      "description": "Operational governance dashboard endpoints."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/knowledge/bootstrap": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Fetch public bootstrap knowledge for the main site",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "zh-TW",
                "en"
              ],
              "default": "zh-TW"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public knowledge bootstrap payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapPayload"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/knowledge/search": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Search public-safe knowledge documents",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultPage"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/knowledge/related": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Related knowledge cards for a content/entity page",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related public knowledge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedPayload"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/knowledge/communities/{communityKey}": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Fetch one public community profile",
        "parameters": [
          {
            "name": "communityKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Community profile"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/public/knowledge/vocabulary": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Paged public learning vocabulary/corpus entries with audio URLs",
        "parameters": [
          {
            "name": "dialectCode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "38",
                "39",
                "40",
                "41"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vocabulary page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyPage"
                }
              }
            }
          }
        }
      }
    },
    "/api/internal/main-site/knowledge/bundle": {
      "get": {
        "tags": [
          "internalSync"
        ],
        "summary": "Internal full public-safe bundle for main-site cache warmup",
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "includeVocabulary",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "maxVocabulary",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 5000,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bundle payload"
          },
          "401": {
            "description": "Missing/invalid API key"
          }
        }
      }
    },
    "/api/internal/main-site/knowledge/delta": {
      "get": {
        "tags": [
          "internalSync"
        ],
        "summary": "Internal delta sync since cursor/timestamp",
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 250
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delta payload"
          },
          "401": {
            "description": "Missing/invalid API key"
          }
        }
      }
    },
    "/api/ops/openapi.json": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Return OpenAPI JSON spec",
        "responses": {
          "200": {
            "description": "OpenAPI document"
          }
        }
      }
    },
    "/ready": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Readiness check for deployment and main-site pull dependency",
        "responses": {
          "200": {
            "description": "Ready"
          },
          "503": {
            "description": "Not ready"
          }
        }
      }
    },
    "/api/ops/readiness": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Detailed runtime readiness checks",
        "responses": {
          "200": {
            "description": "Readiness report"
          }
        }
      }
    },
    "/api/ops/jobs": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "List runtime job queue placeholders/status",
        "responses": {
          "200": {
            "description": "Job list"
          }
        }
      }
    },
    "/api/internal/jobs/full-corpus/enqueue": {
      "post": {
        "tags": [
          "internalSync"
        ],
        "summary": "Enqueue full corpus import after deployment",
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "minEntries": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued"
          },
          "401": {
            "description": "Missing/invalid API key"
          }
        }
      }
    },
    "/api/internal/jobs/{jobId}": {
      "get": {
        "tags": [
          "internalSync"
        ],
        "summary": "Get internal job status",
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/public/version": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Return current API version and corpus scope contract",
        "responses": {
          "200": {
            "description": "Version response"
          }
        }
      }
    },
    "/api/public/knowledge/export/latest": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Return latest public-safe export artifact manifest",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "main_site_bootstrap",
                "vocabulary_audio",
                "search_documents",
                "full_public_snapshot"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest export artifact manifest"
          }
        }
      }
    },
    "/api/internal/exports/bundle/enqueue": {
      "post": {
        "tags": [
          "internalSync"
        ],
        "summary": "Enqueue a public-safe export bundle generation job",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "202": {
            "description": "Export bundle job queued"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Missing scope"
          }
        }
      }
    },
    "/api/internal/main-site/sync/replay": {
      "post": {
        "tags": [
          "internalSync"
        ],
        "summary": "Replay public-safe sync events for a time/cursor range",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "202": {
            "description": "Sync replay queued"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Missing scope"
          }
        }
      }
    },
    "/api/public/release-channels": {
      "get": {
        "tags": [
          "Release Channels"
        ],
        "summary": "List public-safe release channels",
        "responses": {
          "200": {
            "description": "Release channels visible to public clients"
          }
        }
      }
    },
    "/api/ops/governance-dashboard": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Return governance dashboard widget metadata",
        "responses": {
          "200": {
            "description": "Governance dashboard metadata"
          }
        }
      }
    },
    "/api/public/knowledge/export/search": {
      "get": {
        "tags": [
          "Knowledge"
        ],
        "summary": "Return latest public search export artifact metadata",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "public"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search export artifact metadata"
          }
        }
      }
    },
    "/api/internal/release/promote": {
      "post": {
        "tags": [
          "Release Channels"
        ],
        "summary": "Promote reviewed records between release channels",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "202": {
            "description": "Promotion job accepted"
          },
          "403": {
            "description": "Missing scope"
          }
        }
      }
    },
    "/api/internal/quality/gates/run": {
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "Run data quality gates for an import or release batch",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "202": {
            "description": "Quality gate job accepted"
          },
          "403": {
            "description": "Missing scope"
          }
        }
      }
    },
    "/api/admin/auth/login": {
      "post": {
        "tags": [
          "admin-auth"
        ],
        "summary": "Admin login",
        "requestBody": {
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/admin/auth/me": {
      "get": {
        "tags": [
          "admin-auth"
        ],
        "summary": "Current admin session",
        "responses": {
          "200": {
            "description": "Current admin profile"
          }
        }
      }
    },
    "/api/admin/auth/change-password": {
      "post": {
        "tags": [
          "admin-auth"
        ],
        "summary": "Change admin password",
        "responses": {
          "200": {
            "description": "Password rotated"
          },
          "400": {
            "description": "Weak password"
          }
        }
      }
    },
    "/api/admin/auth/logout": {
      "post": {
        "tags": [
          "admin-auth"
        ],
        "summary": "Logout admin session",
        "responses": {
          "200": {
            "description": "Session revoked"
          }
        }
      }
    },
    "/api/internal/admin/superadmin/sync-to-main-site": {
      "post": {
        "tags": [
          "admin-sync"
        ],
        "summary": "Sync backend superadmin identity to main site",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sync queued"
          },
          "401": {
            "description": "Missing API key"
          }
        }
      }
    },
    "/api/internal/admin/superadmin/sync-status": {
      "get": {
        "tags": [
          "admin-sync"
        ],
        "summary": "Get superadmin sync status",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sync status"
          }
        }
      }
    },
    "/api/public/content/collections": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "Public-safe content collections",
        "responses": {
          "200": {
            "description": "Content collections"
          }
        }
      }
    },
    "/api/public/content/items/{slug}": {
      "get": {
        "tags": [
          "content"
        ],
        "summary": "Public-safe content item by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content item"
          }
        }
      }
    },
    "/api/internal/content/rebuild-collections": {
      "post": {
        "tags": [
          "content"
        ],
        "summary": "Rebuild content collections from verified facts",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Rebuild queued"
          }
        }
      }
    },
    "/api/public/search/suggest": {
      "get": {
        "summary": "Search suggestions",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/search/facets": {
      "get": {
        "summary": "Search facets",
        "responses": {
          "200": {
            "description": "Facets"
          }
        }
      }
    },
    "/api/internal/cache/invalidate": {
      "post": {
        "summary": "Queue cache invalidation",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target",
                  "reason"
                ],
                "properties": {
                  "target": {
                    "type": "string"
                  },
                  "releaseChannel": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queued"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/internal/data-quality/run": {
      "post": {
        "summary": "Run data quality gate",
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gateKey"
                ],
                "properties": {
                  "gateKey": {
                    "type": "string"
                  },
                  "releaseChannel": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queued"
          }
        }
      }
    },
    "/api/admin/security/sessions": {
      "get": {
        "summary": "List admin sessions",
        "responses": {
          "200": {
            "description": "Admin sessions"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/security/mfa/enroll": {
      "post": {
        "summary": "Enroll admin MFA scaffold",
        "responses": {
          "200": {
            "description": "MFA enrollment scaffold"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ops/performance": {
      "get": {
        "summary": "Performance and cache policy summary",
        "responses": {
          "200": {
            "description": "Runtime performance summary"
          }
        }
      }
    },
    "/api/ops/slo": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Return main-site delivery SLO status.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/observability-dashboard": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Return observability dashboard metadata.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/contract-tests/latest": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Return latest main-site contract test run.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/contracts/run": {
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Enqueue main-site API contract tests.",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/corpus/reconciliation": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Return latest full-corpus reconciliation report.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/corpus/reconcile/enqueue": {
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Enqueue full-corpus reconciliation job.",
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/data-quality/reports/latest": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Return latest data quality report.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/knowledge/payload-snapshot/latest": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Return latest public payload snapshot metadata.",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/pronunciation/{entryId}": {
      "get": {
        "summary": "Get verified human pronunciation audio for a vocabulary entry",
        "parameters": [
          {
            "name": "entryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pronunciation asset with source audio URL"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/public/tts/pronounce": {
      "get": {
        "summary": "Pronounce text using verified source audio when available; synthetic TTS disabled for public",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entryId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dialectCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source audio match or non-public TTS status"
          }
        }
      }
    },
    "/api/admin/tts/models": {
      "get": {
        "summary": "List TTS voice model registry",
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Voice models"
          }
        }
      }
    },
    "/api/internal/tts/synthesize": {
      "post": {
        "summary": "Queue source-audio/TTS synthesis request for internal review",
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "responses": {
          "202": {
            "description": "Source audio returned or request queued"
          }
        },
        "description": "Internal-only synthesis candidate queue; public synthetic TTS remains disabled without review."
      }
    },
    "/api/public/audio/manifest": {
      "get": {
        "summary": "List public Puyuma pronunciation audio playback manifest",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/audio/search": {
      "get": {
        "summary": "Search public Puyuma pronunciation audio assets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dialectCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/audio/head/{assetId}": {
      "get": {
        "summary": "Get playback metadata for one pronunciation audio asset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/audio/proxy/{assetId}": {
      "get": {
        "summary": "Proxy a verified source audio asset with allowlist and cache headers",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/pronunciation/search": {
      "get": {
        "summary": "Search pronunciation entries with real audio first",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dialectCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/pronunciation/player-config": {
      "get": {
        "summary": "Get public pronunciation player policy",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/source-packets": {
      "get": {
        "summary": "List source-grounded facts and official source packets for main-site AI drafting",
        "tags": [
          "AI Article Grounding v18"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/blueprints": {
      "get": {
        "summary": "List safe article blueprints that combine verified claims with admin ideas",
        "tags": [
          "AI Article Grounding v18"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/draft-plan": {
      "post": {
        "summary": "[Deprecated v19] Backend article text generation is disabled; use frontend composer flow.",
        "tags": [
          "AI Article Grounding v18"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "deprecated": true
      }
    },
    "/api/internal/ai-article/duplicate-check": {
      "post": {
        "summary": "Check candidate article slug, title, and claim set for duplicates",
        "tags": [
          "AI Article Grounding v18"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteApiKey": []
          }
        ]
      }
    },
    "/api/internal/ai-article/publish-check": {
      "post": {
        "summary": "Run citation, sensitivity, and review-required checks before publishing",
        "tags": [
          "AI Article Grounding v18"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteApiKey": []
          }
        ]
      }
    },
    "/api/admin/ai-article/review-queue": {
      "get": {
        "summary": "Return admin AI article review queue metadata",
        "tags": [
          "AI Article Grounding v18"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteApiKey": []
          }
        ]
      }
    },
    "/api/public/ai-article/frontend-composer-config": {
      "get": {
        "summary": "Get frontend AI composer config",
        "tags": [
          "Frontend AI Article v19"
        ],
        "responses": {
          "200": {
            "description": "Composer config"
          }
        }
      }
    },
    "/api/internal/ai-article/source-pack/resolve": {
      "post": {
        "summary": "Resolve source claims for frontend AI composer",
        "tags": [
          "Frontend AI Article v19"
        ],
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved source pack"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/internal/ai-article/client-draft/validate": {
      "post": {
        "summary": "Validate a client-generated AI article draft",
        "responses": {
          "200": {
            "description": "Validation result"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/internal/ai-article/client-draft/submit-review": {
      "post": {
        "summary": "Submit a validated AI article draft to admin review",
        "responses": {
          "200": {
            "description": "Submitted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ops/security/knowledge-vault": {
      "get": {
        "summary": "Knowledge vault security status",
        "tags": [
          "Security v19"
        ],
        "security": [
          {
            "MainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Security policy status"
          }
        }
      }
    },
    "/api/admin/source-claims/v19": {
      "get": {
        "summary": "List v19 source-grounded claims for admin review",
        "tags": [
          "True Knowledge v19"
        ],
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Claims"
          }
        }
      }
    },
    "/api/public/true-knowledge/v20/sources": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "List v20 verified public true-knowledge sources",
        "responses": {
          "200": {
            "description": "Source registry"
          }
        }
      }
    },
    "/api/public/true-knowledge/v20/claims": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "List v20 source-grounded claims",
        "responses": {
          "200": {
            "description": "Claims"
          }
        }
      }
    },
    "/api/public/true-knowledge/v20/source-packets": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "List v20 frontend AI source packets",
        "responses": {
          "200": {
            "description": "Source packets"
          }
        }
      }
    },
    "/api/internal/true-knowledge/v20/deduplicate": {
      "post": {
        "tags": [
          "internalSync"
        ],
        "summary": "Run v20 draft duplicate precheck",
        "responses": {
          "200": {
            "description": "Duplicate decision"
          }
        }
      }
    },
    "/api/internal/true-knowledge/v20/ingestion-runs": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "List v20 true source ingestion runs",
        "responses": {
          "200": {
            "description": "Ingestion runs"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Fetch next development / upgrade / optimization plan",
        "responses": {
          "200": {
            "description": "Next upgrade plan"
          }
        }
      }
    },
    "/api/public/true-knowledge/v21/claims": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "List v21 source-grounded claims",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v21/cards": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "List v21 public knowledge cards",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v21/source-packets": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "List frontend AI source packets v21",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/knowledge/forbidden-relations/v21": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Get forbidden relation policy v21",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v21/blocked-relation-check": {
      "post": {
        "tags": [
          "internalKnowledge"
        ],
        "summary": "Validate draft against forbidden relation policy v21",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/true-knowledge/v21/review-queue": {
      "get": {
        "tags": [
          "adminKnowledge"
        ],
        "summary": "List v21 true knowledge review queue",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v22": {
      "get": {
        "tags": [
          "ops"
        ],
        "summary": "Read next upgrade plan v22",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v22/provider-adapters": {
      "get": {
        "summary": "List frontend AI provider adapter contracts",
        "tags": [
          "frontend-ai-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v22/source-packets": {
      "get": {
        "summary": "List source packets for frontend AI composer",
        "tags": [
          "frontend-ai-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v22/client-draft/validate": {
      "post": {
        "summary": "Validate client-generated AI draft",
        "tags": [
          "frontend-ai-v22"
        ],
        "responses": {
          "200": {
            "description": "Ready for review"
          },
          "422": {
            "description": "Blocked"
          }
        }
      }
    },
    "/api/internal/ai-article/v22/citation-check": {
      "post": {
        "summary": "Check usedClaimIds and usedSourceIds",
        "tags": [
          "frontend-ai-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v22/duplicate-cooldown-check": {
      "post": {
        "summary": "Check article duplicate/cooldown policy",
        "tags": [
          "frontend-ai-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/ai-article/v22/review-dashboard": {
      "get": {
        "summary": "Admin AI article review dashboard",
        "tags": [
          "admin-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/security/v22/signature-audit": {
      "get": {
        "summary": "Internal API HMAC signature audit log",
        "tags": [
          "security-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/source-candidates/v22/ingest": {
      "post": {
        "summary": "Ingest external source candidates for manual review only",
        "tags": [
          "source-candidates-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v22/cards": {
      "get": {
        "summary": "Public v22 source-grounded cards",
        "tags": [
          "true-knowledge-v22"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v23": {
      "get": {
        "summary": "Return next upgrade plan v23",
        "tags": [
          "ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/main-site-connection": {
      "get": {
        "summary": "Get main-site connection status",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/main-site-connection/config": {
      "get": {
        "summary": "Get browser-safe main-site connection config",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/main-site/v24/connection-check": {
      "get": {
        "summary": "v24 main-site KB runtime connection check",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/main-site/v24/verify-hmac": {
      "post": {
        "summary": "v24 verify main-site HMAC signature",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v24/client-draft/validate": {
      "post": {
        "summary": "v24 validate client-generated AI draft",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v24/client-draft/submit-review": {
      "post": {
        "summary": "v24 submit client-generated AI draft to review",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/articles/v24/review-workbench": {
      "get": {
        "summary": "v24 admin article review workbench data",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/articles/v24/review-action": {
      "post": {
        "summary": "v24 admin article review action",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/articles/v24/schedule": {
      "post": {
        "summary": "v24 schedule approved article publication",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v25": {
      "get": {
        "summary": "v25 next upgrade plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/main-site/v25/install-manifest": {
      "get": {
        "tags": [
          "v25"
        ],
        "summary": "Main-site install manifest for v25",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/main-site/v25/migration-readiness": {
      "get": {
        "tags": [
          "v25"
        ],
        "summary": "Main-site migration readiness checks for v25",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/articles/v25/review-workbench": {
      "get": {
        "tags": [
          "v25"
        ],
        "summary": "Article review workbench model for v25",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/articles/v25/review-action": {
      "post": {
        "tags": [
          "v25"
        ],
        "summary": "Apply article review action: approve, reject, request revision, schedule, merge duplicate",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/security/v25/verify-hmac": {
      "post": {
        "tags": [
          "v25"
        ],
        "summary": "Verify HMAC/nonce signed request",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/security/v25/hmac-failures": {
      "get": {
        "tags": [
          "v25"
        ],
        "summary": "Internal HMAC failure dashboard feed",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/corpus/v25/acceptance-report": {
      "post": {
        "tags": [
          "v25"
        ],
        "summary": "Receive full corpus acceptance report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/corpus/v25/acceptance-latest": {
      "get": {
        "tags": [
          "v25"
        ],
        "summary": "Latest full corpus acceptance report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/articles/v25/publish-seo-check": {
      "post": {
        "tags": [
          "v25"
        ],
        "summary": "Run article SEO/canonical/cooldown publish check",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v26": {
      "get": {
        "tags": [
          "v25"
        ],
        "summary": "Next v26 upgrade plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/auth/v26/login": {
      "post": {
        "summary": "DB-backed admin login v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/auth/v26/me": {
      "get": {
        "summary": "Current admin session v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/auth/v26/change-password": {
      "post": {
        "summary": "Change admin password v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/auth/v26/logout": {
      "post": {
        "summary": "Logout admin session v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/auth/v26/bootstrap-status": {
      "get": {
        "summary": "Superadmin bootstrap status v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/internal/security/v26/verify-hmac": {
      "post": {
        "summary": "Verify HMAC nonce signature v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ops/security/v26/hmac-failures": {
      "get": {
        "summary": "HMAC failure summary v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/articles/v26/review-action": {
      "post": {
        "summary": "Persist article review action v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/admin/articles/v26/review-transactions": {
      "get": {
        "summary": "List article review transactions v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ops/vps-db/v26/status": {
      "get": {
        "summary": "VPS database status v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/internal/vps-db/v26/backup-report": {
      "post": {
        "summary": "Record VPS DB backup report v26",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v27": {
      "get": {
        "summary": "Next upgrade plan v27",
        "tags": [
          "v26"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/ops/data-mode/v27/status": {
      "get": {
        "summary": "Get production data mode and static fallback policy status",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/db-fallback/v27/events": {
      "get": {
        "summary": "List database fallback attempts and blocked production fallback events",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/corpus/v27/acceptance-latest": {
      "get": {
        "summary": "Get latest VPS staging full corpus acceptance report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/corpus/v27/acceptance-report": {
      "post": {
        "summary": "Record full corpus acceptance report from VPS staging",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/search/v27/index-status": {
      "get": {
        "summary": "Get v27 search index status",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/search/v27/rebuild": {
      "post": {
        "summary": "Queue v27 search index rebuild",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/vps-db/v27/restore-drills": {
      "get": {
        "summary": "List VPS backup restore drill reports",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/vps-db/v27/restore-drill-report": {
      "post": {
        "summary": "Record VPS backup restore drill report",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/source-candidates/v27/ingestion-runs": {
      "get": {
        "summary": "List candidate source ingestion runs",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v28": {
      "get": {
        "summary": "Get v28 next upgrade plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/data-mode/v28/status": {
      "get": {
        "summary": "Get production data mode and static fallback status",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/db-fallback/v28/events": {
      "get": {
        "summary": "List DB fallback events",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/corpus/v28/acceptance-latest": {
      "get": {
        "summary": "Get latest full corpus acceptance report",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/corpus/v28/acceptance-report": {
      "post": {
        "summary": "Submit full corpus acceptance report",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/ops/search/v28/index-status": {
      "get": {
        "summary": "Get MySQL FULLTEXT search index status",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/search/v28/rebuild": {
      "post": {
        "summary": "Queue or dry-run search index rebuild",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/admin/articles/v28/live-queue": {
      "get": {
        "summary": "Get live article review queue",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/security/v28/hmac-failures": {
      "get": {
        "summary": "List HMAC failure events",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/vps-db/v28/restore-drills": {
      "get": {
        "summary": "List VPS restore drill reports",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/vps-db/v28/restore-drill-report": {
      "post": {
        "summary": "Submit VPS restore drill report",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/ops/source-candidates/v28/review-items": {
      "get": {
        "summary": "List source candidate review items",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v29": {
      "get": {
        "summary": "Get v29 upgrade plan",
        "tags": [
          "v28 VPS Live Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/vps/v29/readiness": {
      "get": {
        "summary": "Get VPS DB readiness for actual operations",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/vps/v29/full-corpus-run/start": {
      "post": {
        "summary": "Start a full corpus execution run record",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/internal/vps/v29/full-corpus-run/report": {
      "post": {
        "summary": "Submit a full corpus execution report",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/admin/corpus/v29/runs": {
      "get": {
        "summary": "List DB-backed full corpus execution runs",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/search/v29/populate-db": {
      "post": {
        "summary": "Queue DB search index population",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/ops/search/v29/population-runs": {
      "get": {
        "summary": "List search index population runs",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/fallback/v29/route-coverage": {
      "get": {
        "summary": "Get fallback route coverage audit",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/fallback/v29/coverage-report": {
      "post": {
        "summary": "Submit fallback route coverage report",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/ops/vps-db/v29/backup-restore-checksum": {
      "get": {
        "summary": "List backup restore checksum reports",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/vps-db/v29/backup-restore-checksum": {
      "post": {
        "summary": "Submit backup restore checksum report",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "MainSiteApiKey": []
          }
        ]
      }
    },
    "/api/admin/source-candidates/v29/reviews": {
      "get": {
        "summary": "List candidate source human reviews",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v30": {
      "get": {
        "summary": "Get v30 upgrade plan",
        "tags": [
          "v29 VPS Actual Ops"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/cutover/v30/checklist": {
      "get": {
        "summary": "Get v30 production cutover checklist",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/cutover/v30/readiness": {
      "get": {
        "summary": "Get v30 production cutover readiness",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/cutover/v30/readiness-report": {
      "post": {
        "summary": "Submit v30 production cutover readiness report",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/main-site/v30/acceptance": {
      "get": {
        "summary": "Get main site v30 acceptance suite",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/main-site/v30/acceptance-report": {
      "post": {
        "summary": "Submit main site v30 acceptance report",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/seo/v30/launch-checklist": {
      "get": {
        "summary": "Get production SEO launch checklist",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/seo/v30/launch-report": {
      "post": {
        "summary": "Submit production SEO launch report",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/search/v30/quality-suite": {
      "get": {
        "summary": "Get search quality suite",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/search/v30/quality-report": {
      "post": {
        "summary": "Submit search quality report",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/secrets/v30/rotation-plan": {
      "get": {
        "summary": "Get production secret rotation plan",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/production/v30/rollback-report": {
      "post": {
        "summary": "Submit rollback report",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "mainSiteHmac": []
          }
        ]
      }
    },
    "/api/ops/next-upgrade-plan/v31": {
      "get": {
        "summary": "Get v31 next upgrade plan",
        "tags": [
          "v30-production-cutover"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/dry-run/v31/checklist": {
      "get": {
        "summary": "Get v31 production dry-run checklist",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/dry-run/v31/readiness": {
      "get": {
        "summary": "Get v31 production dry-run readiness",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/dry-run/v31/report": {
      "post": {
        "summary": "Submit v31 production dry-run report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/main-site/v31/migration-acceptance": {
      "get": {
        "summary": "Get v31 main-site migration acceptance spec",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/main-site/v31/migration-report": {
      "post": {
        "summary": "Submit v31 main-site migration report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/security/v31/hmac-route-coverage": {
      "get": {
        "summary": "Get v31 HMAC route coverage matrix",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/security/v31/hmac-coverage-report": {
      "post": {
        "summary": "Submit v31 HMAC coverage report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/corpus/v31/backfill-status": {
      "get": {
        "summary": "Get v31 full corpus report backfill status",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/corpus/v31/backfill-report": {
      "post": {
        "summary": "Submit v31 corpus report backfill",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/dashboard/v31/live-bindings": {
      "get": {
        "summary": "Get v31 admin live dashboard bindings",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/search/v31/quality-suite": {
      "get": {
        "summary": "Get v31 search quality suite",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/search/v31/quality-report": {
      "post": {
        "summary": "Submit v31 search quality report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/source-candidates/v31/intake-plan": {
      "get": {
        "summary": "Get v31 source candidate intake plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v32": {
      "get": {
        "summary": "Get v32 next upgrade plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/vps/v32/dry-run-backfill-plan": {
      "get": {
        "summary": "V32 VPS dry-run backfill plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/vps/v32/dry-run-backfill-report": {
      "post": {
        "summary": "V32 post VPS dry-run backfill report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/main-site/v32/migration-secret-scan": {
      "get": {
        "summary": "V32 main-site secret scan policy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/main-site/v32/migration-secret-scan-report": {
      "post": {
        "summary": "V32 post main-site secret scan report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/security/v32/hmac-enforcement": {
      "get": {
        "summary": "V32 HMAC enforcement policy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/security/v32/hmac-enforcement-report": {
      "post": {
        "summary": "V32 post HMAC enforcement report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/corpus/v32/full-corpus-backfill": {
      "get": {
        "summary": "V32 full corpus backfill contract",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/corpus/v32/full-corpus-backfill-report": {
      "post": {
        "summary": "V32 post full corpus backfill report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/admin/dashboard/v32/live-bindings": {
      "get": {
        "summary": "V32 dashboard live bindings",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/search-seo/v32/validation-suite": {
      "get": {
        "summary": "V32 search and SEO validation suite",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/search-seo/v32/validation-report": {
      "post": {
        "summary": "V32 post search and SEO validation report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/fallback/v32/enforcement": {
      "get": {
        "summary": "V32 production fallback enforcement policy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/fallback/v32/enforcement-report": {
      "post": {
        "summary": "V32 post production fallback enforcement report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v33": {
      "get": {
        "summary": "V33 next upgrade plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/source-search/v33/expanded-plan": {
      "get": {
        "summary": "Get v33 expanded source search plan",
        "tags": [
          "v33 expanded source search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/source-search/v33/candidates": {
      "get": {
        "summary": "Get v33 source search candidates",
        "tags": [
          "v33 expanded source search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/source-search/v33/ingestion-report": {
      "post": {
        "summary": "Submit v33 source ingestion report",
        "tags": [
          "v33 expanded source search"
        ],
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted"
          }
        }
      }
    },
    "/api/public/true-knowledge/v33/cards": {
      "get": {
        "summary": "Get v33 public true knowledge cards",
        "tags": [
          "v33 expanded source search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v33/search-documents": {
      "get": {
        "summary": "Get v33 public search documents",
        "tags": [
          "v33 expanded source search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v33/source-packets": {
      "get": {
        "summary": "Get v33 frontend AI source packets",
        "tags": [
          "v33 expanded source search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v33/source-grounding-check": {
      "post": {
        "summary": "Submit v33 source grounding check",
        "tags": [
          "v33 expanded source search"
        ],
        "security": [
          {
            "mainSiteApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted"
          }
        }
      }
    },
    "/api/admin/true-knowledge/v33/review-queue": {
      "get": {
        "summary": "Get v33 true knowledge review queue",
        "tags": [
          "v33 admin"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/forbidden-relations/v33/audit": {
      "get": {
        "summary": "Get v33 forbidden relation audit policy",
        "tags": [
          "v33 expanded source search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v34": {
      "get": {
        "summary": "Get v34 next upgrade plan",
        "tags": [
          "v33 expanded source search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/source-search/v34/expanded-plan": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Get v34 expanded source search plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/source-search/v34/worker-contract": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Get v34 source harvest worker contract",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/source-search/v34/candidates": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "List v34 source candidates",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/source-search/v34/ingestion-report": {
      "post": {
        "tags": [
          "internalSync"
        ],
        "summary": "Submit v34 source ingestion report",
        "responses": {
          "200": {
            "description": "Accepted"
          }
        }
      }
    },
    "/api/internal/source-search/v34/candidate-review-report": {
      "post": {
        "tags": [
          "internalSync"
        ],
        "summary": "Submit v34 candidate review report",
        "responses": {
          "200": {
            "description": "Accepted"
          }
        }
      }
    },
    "/api/public/true-knowledge/v34/cards": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Get v34 public true knowledge cards",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v34/search-documents": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Get v34 public search documents",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v34/claims": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Get v34 claim additions",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v34/source-packets": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "Get v34 frontend AI source packets",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v34/source-grounding-check": {
      "post": {
        "tags": [
          "internalSync"
        ],
        "summary": "Check v34 source grounding",
        "responses": {
          "200": {
            "description": "Accepted"
          }
        }
      }
    },
    "/api/admin/true-knowledge/v34/review-queue": {
      "get": {
        "tags": [
          "Governance"
        ],
        "summary": "Get v34 review queue",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/forbidden-relations/v34/audit": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Get v34 forbidden relation audit",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/search/v34/config": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Get v34 expanded search config",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v35": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "Get v35 next upgrade plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-youtube/v35/source-registry": {
      "get": {
        "summary": "source registry",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-youtube/v35/search-config": {
      "get": {
        "summary": "search config",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-youtube/v35/review-queue": {
      "get": {
        "summary": "review queue",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-youtube/v35/ingestion-report": {
      "post": {
        "summary": "ingestion report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-youtube/v35/review-report": {
      "post": {
        "summary": "review report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v35/music/cards": {
      "get": {
        "summary": "cards",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v35/music/search-documents": {
      "get": {
        "summary": "search documents",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v35/music/claims": {
      "get": {
        "summary": "claims",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v35/music-source-packets": {
      "get": {
        "summary": "music source packets",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-youtube/v35/rights-policy": {
      "get": {
        "summary": "rights policy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v35/music-grounding-check": {
      "post": {
        "summary": "music grounding check",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v36": {
      "get": {
        "summary": "v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-song/v36/source-registry": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music/song source registry v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-song/v36/catalog": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music/song metadata catalog v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-song/v36/search-config": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music/song search config v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-song/v36/review-queue": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music/song review queue v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-song/v36/rights-policy": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music/song rights policy v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-song/v36/youtube-worker-contract": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "YouTube song metadata worker contract v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-song/v36/ingestion-report": {
      "post": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Submit music/song ingestion report v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-song/v36/review-report": {
      "post": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Submit music/song review report v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v36/music/cards": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Public music cards v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v36/music/search-documents": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Public music search documents v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v36/music/claims": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music claims v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v36/music-source-packets": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music source packets v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v36/music-grounding-check": {
      "post": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Music grounding check v36",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v37": {
      "get": {
        "tags": [
          "Music Song Catalog v36"
        ],
        "summary": "Next upgrade plan v37",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v37/source-registry": {
      "get": {
        "summary": "v37 music folk song source registry",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v37/catalog": {
      "get": {
        "summary": "v37 music folk song catalog",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v37/taxonomy": {
      "get": {
        "summary": "v37 music folk song taxonomy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v37/search-config": {
      "get": {
        "summary": "v37 music folk song search config",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v37/review-queue": {
      "get": {
        "summary": "v37 music folk song review queue",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v37/rights-policy": {
      "get": {
        "summary": "v37 music folk song rights policy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v37/youtube-worker-contract": {
      "get": {
        "summary": "v37 YouTube metadata worker contract",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v37/music/cards": {
      "get": {
        "summary": "v37 music public cards",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v37/music/search-documents": {
      "get": {
        "summary": "v37 music search documents",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v37/music/claims": {
      "get": {
        "summary": "v37 music claims",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v37/music-source-packets": {
      "get": {
        "summary": "v37 music AI source packets",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v38": {
      "get": {
        "summary": "v38 next plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v37/ingestion-report": {
      "post": {
        "summary": "v37 music folk song ingestion report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v37/review-report": {
      "post": {
        "summary": "v37 music folk song review report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v37/music-grounding-check": {
      "post": {
        "summary": "v37 music grounding check",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v38/source-registry": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v38 source registry for folk song deep metadata",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v38/catalog": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v38 folk song deep catalog",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v38/variant-index": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v38 folk song variant index",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v38/search-config": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v38 folk song expanded search config",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v38/review-queue": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v38 folk song review queue",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v38/rights-policy": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v38 folk song rights policy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v38/youtube-worker-contract": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v38 YouTube metadata worker contract",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v38/ingestion-report": {
      "post": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "submit v38 folk song ingestion report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v38/review-report": {
      "post": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "submit v38 folk song review report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v38/music/cards": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "v38 public music knowledge cards",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v38/music/search-documents": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "v38 public music search documents",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v38/music/claims": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "v38 public music claims",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v38/music-source-packets": {
      "get": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "v38 frontend AI music source packets",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v38/music-grounding-check": {
      "post": {
        "tags": [
          "publicKnowledge"
        ],
        "summary": "v38 music grounding safety check",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v39": {
      "get": {
        "tags": [
          "operations"
        ],
        "summary": "v39 next upgrade plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v39/source-registry": {
      "get": {
        "summary": "取得 v39 歌謠來源登錄",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v39/catalog": {
      "get": {
        "summary": "取得 v39 歌謠 catalog",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v39/variant-index": {
      "get": {
        "summary": "取得 v39 異名/版本索引",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v39/search-config": {
      "get": {
        "summary": "取得 v39 搜尋設定",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v39/review-queue": {
      "get": {
        "summary": "取得 v39 審核佇列",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v39/rights-policy": {
      "get": {
        "summary": "取得 v39 權利政策",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v39/metadata-worker-contract": {
      "get": {
        "summary": "取得 v39 metadata worker contract",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v39/ingestion-report": {
      "post": {
        "summary": "回報 v39 ingestion 結果",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v39/review-report": {
      "post": {
        "summary": "回報 v39 review 結果",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v39/youtube-metadata-report": {
      "post": {
        "summary": "回報 YouTube metadata 結果",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v39/music/cards": {
      "get": {
        "summary": "取得 v39 music cards",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v39/music/search-documents": {
      "get": {
        "summary": "取得 v39 music search docs",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/true-knowledge/v39/music/claims": {
      "get": {
        "summary": "取得 v39 music claims",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/ai-article/v39/music-source-packets": {
      "get": {
        "summary": "取得 v39 AI music source packets",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/ai-article/v39/music-grounding-check": {
      "post": {
        "summary": "檢查 v39 AI 音樂草稿引用與風險",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/next-upgrade-plan/v40": {
      "get": {
        "summary": "取得 v40 下一步方案",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v40/source-registry": {
      "get": {
        "summary": "取得 v40 source-registry",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v40/catalog": {
      "get": {
        "summary": "取得 v40 catalog",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v40/relation-variant-index": {
      "get": {
        "summary": "取得 v40 relation-variant-index",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v40/search-config": {
      "get": {
        "summary": "取得 v40 search-config",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v40/review-queue": {
      "get": {
        "summary": "取得 v40 review-queue",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v40/rights-policy": {
      "get": {
        "summary": "取得 v40 rights-policy",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ops/music-folk-song/v40/youtube-worker-contract": {
      "get": {
        "summary": "取得 v40 youtube-worker-contract",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/internal/music-folk-song/v40/ingestion-report": {
      "post": {
        "summary": "回報 v40 ingestion-report",
        "responses": {
[...]
